In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import KNNImputer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import confusion_matrix, accuracy_score, recall_score, precision_score

In [28]:
df = pd.read_csv('/content/train.csv')
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [29]:
df = df.rename(columns = str.lower)

In [30]:
df.shape

(614, 13)

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   loan_id            614 non-null    object
 1   gender             601 non-null    object
 2   married            611 non-null    object
 3   dependents         599 non-null    object
 4   education          614 non-null    object
 5   self_employed      582 non-null    object
 6   applicantincome    614 non-null    int64
 7   coapplicantincome  614 non-null    float64
 8   loanamount         592 non-null    float64
 9   loan_amount_term   600 non-null    float64
 10  credit_history     564 non-null    float64
 11  property_area      614 non-null    object
 12  loan_status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [32]:
# df.dropna(axis = 1, inplace = True)

In [33]:
df[df.duplicated(subset = 'loan_id')]  # it returns boolean output for every first occurance its false and for the next same it is true

Empty DataFrame
Columns: [loan_id, gender, married, dependents, education, self_employed, applicantincome, coapplicantincome, loanamount, loan_amount_term, credit_history, property_area, loan_status]
Index: []

In [34]:
df.head(3)

,loan_id,gender,married,dependents,education,self_employed,applicantincome,coapplicantincome,loanamount,loan_amount_term,credit_history,property_area,loan_status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y

In [35]:
# Encoding
en = LabelEncoder()       # it encodes each value between 0 and n - 1 (for ex urban and rural is encoded as 0 and 1)
cat = ['gender','married','education','self_employed','property_area','loan_status']
for cols in cat:
  df[cols] = en.fit_transform(df[cols])
  print(df[cols])

0      1
1      1
2      1
3      1
4      1
      ..
609    0
610    1
611    1
612    1
613    0
Name: gender, Length: 614, dtype: int64
0      0
1      1
2      1
3      1
4      0
      ..
609    0
610    1
611    1
612    1
613    0
Name: married, Length: 614, dtype: int64
0      0
1      0
2      0
3      1
4      0
      ..
609    0
610    0
611    0
612    0
613    0
Name: education, Length: 614, dtype: int64
0      0
1      0
2      1
3      0
4      0
      ..
609    0
610    0
611    0
612    0
613    1
Name: self_employed, Length: 614, dtype: int64
0      2
1      0
2      2
3      2
4      2
      ..
609    0
610    0
611    2
612    2
613    1
Name: property_area, Length: 614, dtype: int64
0      1
1      0
2      1
3      1
4      1
      ..
609    1
610    1
611    1
612    1
613    0
Name: loan_status, Length: 614, dtype: int64

In [36]:
df['dependents'].replace('3+',3,inplace:=True)

<ipython-input-36-28f1aeac6afa>:1: FutureWarning: In a future version of pandas all arguments of Series.replace except for the arguments 'to_replace' and 'value' will be keyword-only.
  df['dependents'].replace('3+',3,inplace:=True)

In [37]:
#data processing
df.isna().sum()

loan_id               0
gender                0
married               0
dependents           15
education             0
self_employed         0
applicantincome       0
coapplicantincome     0
loanamount           22
loan_amount_term     14
credit_history       50
property_area         0
loan_status           0
dtype: int64

In [38]:
df.drop('loan_id', axis = 1, inplace = True)

In [39]:
df.head()

,gender,married,dependents,education,self_employed,applicantincome,coapplicantincome,loanamount,loan_amount_term,credit_history,property_area,loan_status
0,1,0,0,0,0,5849,0.0,NaN,360.0,1.0,2,1
1,1,1,1,0,0,4583,1508.0,128.0,360.0,1.0,0,0
2,1,1,0,0,1,3000,0.0,66.0,360.0,1.0,2,1
3,1,1,0,1,0,2583,2358.0,120.0,360.0,1.0,2,1
4,1,0,0,0,0,6000,0.0,141.0,360.0,1.0,2,1

In [40]:
imputer = KNNImputer(n_neighbors = 3)
df = pd.DataFrame(imputer.fit_transform(df), columns = df.columns)

In [42]:
df.isna().sum()

gender               0
married              0
dependents           0
education            0
self_employed        0
applicantincome      0
coapplicantincome    0
loanamount           0
loan_amount_term     0
credit_history       0
property_area        0
loan_status          0
dtype: int64

In [46]:
X = df.drop(columns = ['loan_status']).values
y = df['loan_status'].values

In [47]:
# train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 42)

In [51]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)

In [52]:
rfc = RandomForestClassifier(criterion = 'entropy', random_state = 42)
rfc.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', random_state=42)

In [54]:
scores = cross_val_score(rfc, X_train, y_train,cv=10)
print(scores.mean())

0.8130434782608695

In [56]:
y_pred_test = rfc.predict(X_test)
y_pred_train = rfc.predict(X_train)
print(accuracy_score(y_test, y_pred_test))
print(accuracy_score(y_train,y_pred_train))

0.6298701298701299
1.0

In [57]:
from sklearn.metrics import f1_score
rfc_pred_test = rfc.predict(X_test)
print(f1_score(y_test,rfc_pred_test))

0.7574468085106383